body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.nav{
    background-color: #254058;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
body {
    background-image: url(https://images3.alphacoders.com/116/1163674.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: translateY(100vh);
    animation: slideUp 1.5s ease-out forwards;
}
@keyframes slideUp {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

a:hover {
    color: rgb(240, 6, 162);
}

#header h1{
    font-size: 50px;
}

body {
    color: white;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0; /* Remove padding for large screens */
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
}
