{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Delete Review</title>
    <link rel="stylesheet" href="{% static 'delete_review.css' %}" />
</head>
<body>
    <h1>Delete Review</h1>
    <p>Are you sure you want to delete the review by {{review.email }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'index' %}">Cancel</a>
</body>
</html>