{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LilUziVert</title>
<link rel="stylesheet" href="{% static 'liluzi.css' %}">

</head>

<body>

<header> 
    <h2>About Lil Uzi Vert</h2>
</header>

<div>
<p>By Tomescu Robert posted on 07/01/2025. </p>
<img src="https://media.cnn.com/api/v1/images/stellar/prod/220718134456-lil-uzi-vert-pronouns.jpg?c=original" width="460" alt="liluzi.jpg">
    <p><strong>Lil Uzi Vert</strong> is a trailblazing artist known for his futuristic sound, infectious energy, and genre-defying style.
    <br>With high-pitched melodies, rapid flows, and spacey beats, he’s carved out a unique lane in hip-hop.
    <br>From hits like XO Tour Llif3 to Just Wanna Rock, Uzi constantly reinvents himself while staying true to his rockstar persona.
    <br>His influence goes beyond music, shaping fashion, internet culture, and the next wave of artists.
    <br>Whether he’s dropping a viral anthem or making bold moves like getting a diamond implanted in his forehead, Uzi is always ahead of the curve. 🚀💫</p>
</div>

<h2><a href="{% url 'index' %}">Return</a></h2>
<footer> <p>© Copyright 2024-2025. </p> </footer>

</body>
</html>