{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Playboi Carti</title>
<link rel="stylesheet" href="{% static 'playboicarti.css' %}">
</head>

<body>

<header>
    <h2>About Playboi Carti</h2>
</header>

<div>
<p>By Tomescu Robert posted on 13/03/2025. </p>
<img src="https://i.scdn.co/image/ab6761610000e5ebba50ca67ffc3097f6ea1710a" width="260" alt="playboi.jpg">
    <p><strong>Playboi Carti</strong> is a rap innovator known for his hypnotic beats, baby-voice flow, and rebellious energy.
    <br>His music isn’t just about lyrics—it’s about pure vibe, creating an atmosphere that fans can feel. 
    <br>From the carefree sound of Die Lit to the dark, chaotic energy of Whole Lotta Red, Carti constantly evolves, pushing the boundaries of hip-hop. 
    <br>His influence extends beyond music into fashion and culture, making him a true rockstar of this generation.
    <br>With a cult-like fanbase and an unpredictable style, Carti isn’t just making songs—he’s shaping a movement. 🔥🧛🏾‍♂️</p>
</div>

<h2><a href="{% url 'index' %}">Return</a></h2>
<footer> <p>© Copyright 2024-2025. </p> </footer>

</body>
</html>