{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>YoungThug</title>
<link rel="stylesheet" href="{% static 'youngthug.css' %}">
</head>

<body>

<header> 
    <h2>About Young Thug ~Thruly Humble Under God~</h2>
</header>

<div>
<p>By Tomescu Robert posted on 14/12/2024. </p>
<img src="https://lastfm.freetls.fastly.net/i/u/ar0/a8127b6be6e62d2c3f8fcdc75d82c1bb.jpg" width="250" height="270" alt="Young Thug">
<p><strong>Young Thug</strong> is a visionary artist who has redefined hip-hop with his unique voice, unpredictable flows, and genre-bending style.
<br>His ability to blend melody with raw energy makes his music stand out, influencing a whole new wave of rappers.
<br>From his early mixtapes to chart-topping albums like So Much Fun and Punk, Thug pushes creative boundaries while staying true to his eccentric persona.
<br>Whether it’s his fashion, ad-libs, or experimental sound, he’s more than a rapper—he’s a cultural icon shaping the future of music. 🚀🔥</p>
</div>

<h2><a href="{% url 'index' %}">Return</a></h2>
<footer> <p>© Copyright 2024-2025. </p> </footer>

</body>
</html>